[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/hugo-hikari-theme"]
	path = themes/hugo-hikari-theme
	url = https://github.com/digitalcraftsman/hugo-hikari-theme.git
